strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 3
    maxUnavailable: 1
image:
  image_registry: acrargopogwizdow.azurecr.io
  image_repository: r1.nginx
  environment: preprod-
  version_major: '1'
  version_minor: '18'
  version_patch: 5bbeb51
  pullPolicy: Always
serviceAccount:
  name: sa-preprod-r1-nginx
service:
  type: ClusterIP
  port: 80
  targetPort: 80
